*,
::before,
::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}
.score{
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: max-content;
}
.inputs{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 10px auto;
}
.input{
    width: 170px;
    height: 30px;
    outline: none;
    padding-left: 10px;
    border-radius: 12px;
    border: 0.5px solid #9E9E9E;
}

.adjust-btn{
    width: 50%;
    height: 30px;
}
.container{
    box-sizing: content-box !important;
    height: 400px;
    border: 8px solid #1B5E20;
    background-color: #43A047;
    margin: 10px auto;
    position: relative;
    margin-bottom: 0;    
}
.snake{
    font-size: 30px;
    margin: 0;
    padding: 0;
    position: absolute;
}
.apple{
    font-size: 20px;
    margin: 0;
    padding: 0; 
    position: absolute;
    display: block;
}
.buttons-container{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 6px;
    padding: 0;
}
.buttons{
    border-radius: 12px;
    border: 0.5px solid #9E9E9E;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-up{
    width: 100%;
    margin-bottom: -30px;
}
.button-right{
    width: 48%;
}
.button-left{
    width: 48%;
}
.button-down{
    width: 100%;
    margin-top: -30px;
}
.buttons img{
    width: 40px;
    height: 40px;
}